*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: aqua;
    font-style: italic;
}
.container{
    background-color: antiquewhite;
  max-width: 1000px;
  height: 1060px;
  margin: 0 auto;
}
/* head st*/
.img{
    height: 120px;
    width: 120px;
     border-radius: 30%;
    padding: 30px; 
    float: left;

}
 .head{
    height: 200px;
 
}
.hl{
    float:left;
    padding: 40px;
    color: brown;

}
.hr{
    float: right;
    padding: 40px;
}
.hr a{
    text-decoration: none;
}
.hr a:hover{
text-decoration: underline;
background-color: black;
color: white;
}
.clr{
    clear: both;
}
#hr{
    border: 2px solid black;
}
/* head ed*/
/* main st*/

/*Personal info st*/
.pi{
height: 200px;
 }
.pil{
float: left;
padding: 50px;
}
.pir{
float: right;
padding: 50px;
}

/*Personal info end*/

/*edu st*/
.edu{
height: 200px;
}
.edul{
    float: left;
    padding: 40px;
 }
.edur{
    float: right;
    padding: 30px;
 
}
.edur1{
    float: left;
    width: 45%;
}
.edur2{
    float: right;
    width: 45%;
}
 
hr{
    border: 1px solid ;
}
/*edu end*/
/*work exprepiance start*/
.we{
height: 200px;

}
.wel{
float: left; 
padding: 50px;
}
.wer{
float: right;
padding: 50px;
}
/*work expreriance end*/

/* hobby st*/
.hb{
height: 200px;
}
.hbr{
float: right;
padding: 30px;
}
.hbl{
    float: left;
    padding: 30px;
}
/* hobby end*/
/* main end*/
/* footer start*/
.footer{
background-color: black;
height: 80px;
 }
.ft {
    text-align: center;
    color: white;
    padding: 5px;
}
.ft a {
    text-decoration: none;
    padding: 10px;
}
 
.ft a:hover{
    text-decoration: underline;
    background-color: white;
}
.ft p{
    padding: 15px;
}
.ft p:hover{
color: brown;
 }
/* footer end*/
